<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import type User from "@/type/User";
import { mdiDelete, mdiPencil } from "@mdi/js";
const userStore = useUserStore();

const addNew = () => {
    userStore.dialog = true;
}
const deleteUser = (index: number): void => {
    userStore.deleteUser(index);
};

const editUser = (user: User) => {
    userStore.editUser(user);
}
</script>

<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="4">
                <v-card>
                    <v-btn height="150px" width="100%" class="text-h3 text-grey-darken-3" color="rgb(183, 196, 207)" @click="addNew">+</v-btn>
                </v-card>
            </v-col>
            <v-col cols="12" md="4" v-for="item of userStore.users" :key="item.id">
                <v-card height="150px">
                    <v-card-title>
                        {{ item.name }} ({{ item.id }})
                    </v-card-title>
                    <v-card-text>ID: {{ item.login }}<br>Password: {{ item.password }}</v-card-text>
                    
                    <v-card-action >
                        <div class="text-center">
                            <v-btn color="yellow" class="ma-1 " @click="editUser">Edit<v-icon end :icon="mdiPencil" ></v-icon></v-btn>
                            <v-btn color="red" class="ml-5" @click="deleteUser">Delete<v-icon end :icon="mdiDelete"></v-icon></v-btn>
                        </div>
                    </v-card-action>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<style scoped>

</style>
