<script setup lang="ts">
import {ref} from 'vue';
import { useUserStore } from "@/stores/user";
import type { VForm } from 'vuetify/components';

const userStore = useUserStore();

const form = ref<VForm | null>(null);
const save = async () => {
  const {valid} = await form.value!.validate();
  if(valid) {
    userStore.saveUser();
  }
}

const close = () => {
  userStore.dialog = false;
  userStore.clear(); 
}
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="userStore.dialog"
      persistent
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name"
                  v-model="userStore.editedUser.name"
                  :rules="[
                    (v) => !!v || 'Name is Empty',
                    (v) => v.length >= 5 || 'Name must be more than or equal 5 characters'
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Login*"
                  v-model="userStore.editedUser.login"
                  required
                  :rules="[
                    (v) => !!v || 'Login is Empty',
                    (v) => v.length >= 5 || 'Login must be more than or equal 5 characters'
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12"> 
                <v-text-field 
                label="Password*" 
                v-model="userStore.editedUser.password"
                type="password" 
                required 
                :rules="[
                    (v) => !!v || 'Password is Empty',
                    (v) => v.length >= 8 || 'Password must be more than or equal 8 characters',
                    (v) => /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,}$/.test(v) 
                            || 'Password จะต้องมีตัวอักษรใหญ่และเล็ก และ ประกอบด้วย Special Character'
                  ]">
                  </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="close"
          >
            Close
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="save"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
